/** Colours used throughout the site **/
/** Border Thickness & Styles **/
/** Colours used throughout the site **/
/** Border Thickness & Styles **/
/** Colour & Size of boxes and borders **/
@fontface {
  src: url("../fonts/Aller_Rg.ttf");
  font-weight: 400;
  font-family: Aller, sans-serif; }

body {
  background: #f1f1f1;
  font-family: Aller;
  overflow: hidden; }

/** Sliding Styles for Products pages **/
.slider {
  margin: 0;
  padding: 0; }
  .slider li {
    width: 100%;
    height: 100%; }

.product-details {
  width: 300px;
  height: 625px;
  top: 35px;
  left: 75px;
  padding: 15px 0;
  background: #FFF;
  position: relative;
  border: 8px solid #d8f1ef;
  background: #FFF; }
  .product-details h1, .product-details h2, .product-details h3, .product-details h4, .product-details h5 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: 200; }
  .product-details h2 {
    padding: 0 0 15px;
    text-align: center;
    color: #333;
    overflow: hidden;
    border-bottom: 1px solid #d8f1ef; }
    .product-details h2 span {
      margin: 0;
      display: block; }
    .product-details h2 .title {
      font-size: 1.8em; }
    .product-details h2 .category {
      color: #666; }
  .product-details .price-block {
    margin: 0 0;
    padding: 10px 0;
    text-align: center;
    background: #d8f1ef;
    border-bottom: 1px solid #d8f1ef; }
    .product-details .price-block span {
      font-size: 2em;
      font-weight: bold;
      color: #83cbc3;
      text-shadow: 0 1px 1px white; }
  .product-details .product-content p {
    margin: 0;
    padding: 10px 15px;
    font-size: 0.8em;
    color: #333;
    font-family: Arial, sans-serif; }
  .product-details .product-options .giftRecipient-details, .product-details .product-options .customizeable-options {
    margin: 0;
    padding: 0 0;
    clear: both; }
    .product-details .product-options .giftRecipient-details h4, .product-details .product-options .customizeable-options h4 {
      margin: 0 0;
      padding: 10px 15px;
      color: #83cbc3;
      border-bottom: 1px dotted #EEE; }
    .product-details .product-options .giftRecipient-details label, .product-details .product-options .customizeable-options label {
      margin: 10px 15px 2px;
      color: #333;
      font-size: 0.8em;
      display: block; }
    .product-details .product-options .giftRecipient-details .cd_textbox, .product-details .product-options .giftRecipient-details .cd_textarea,
    .product-details .product-options .giftRecipient-details .gift_textbox, .product-details .product-options .giftRecipient-details .gift_textarea, .product-details .product-options .customizeable-options .cd_textbox, .product-details .product-options .customizeable-options .cd_textarea,
    .product-details .product-options .customizeable-options .gift_textbox, .product-details .product-options .customizeable-options .gift_textarea {
      margin: 0 15px;
      width: 258px;
      padding: 5px;
      font-size: 0.8em;
      font-weight: 200;
      color: #333;
      border: 1px solid #eeeeee; }
      .product-details .product-options .giftRecipient-details .cd_textbox:hover, .product-details .product-options .giftRecipient-details .cd_textbox:focus, .product-details .product-options .giftRecipient-details .cd_textarea:hover, .product-details .product-options .giftRecipient-details .cd_textarea:focus,
      .product-details .product-options .giftRecipient-details .gift_textbox:hover,
      .product-details .product-options .giftRecipient-details .gift_textbox:focus, .product-details .product-options .giftRecipient-details .gift_textarea:hover, .product-details .product-options .giftRecipient-details .gift_textarea:focus, .product-details .product-options .customizeable-options .cd_textbox:hover, .product-details .product-options .customizeable-options .cd_textbox:focus, .product-details .product-options .customizeable-options .cd_textarea:hover, .product-details .product-options .customizeable-options .cd_textarea:focus,
      .product-details .product-options .customizeable-options .gift_textbox:hover,
      .product-details .product-options .customizeable-options .gift_textbox:focus, .product-details .product-options .customizeable-options .gift_textarea:hover, .product-details .product-options .customizeable-options .gift_textarea:focus {
        outline: none;
        background: #faffbd;
        border: 1px solid #d8f1ef; }
    .product-details .product-options .giftRecipient-details .row, .product-details .product-options .customizeable-options .row {
      margin: 5px 0; }
    .product-details .product-options .giftRecipient-details .left, .product-details .product-options .customizeable-options .left {
      width: 100px;
      margin: 5px 5px 0 15px;
      padding: 0;
      line-height: 22px;
      clear: both;
      float: left; }
      .product-details .product-options .giftRecipient-details .left:after, .product-details .product-options .customizeable-options .left:after {
        content: ": "; }
    .product-details .product-options .giftRecipient-details .left + select, .product-details .product-options .customizeable-options .left + select {
      margin: 5px 0 0;
      outline: none; }
  .product-details .product-footer .addBasket {
    width: 100%;
    margin: 10px 0 0;
    padding: 10px 0 0;
    bottom: 0px;
    position: absolute;
    background: #d8f1ef;
    text-align: right; }
    .product-details .product-footer .addBasket a {
      text-decoration: none; }
      .product-details .product-footer .addBasket a span {
        margin: 0 5px 0 0;
        color: #333;
        font-weight: 200;
        text-shadow: 0 1px 1px white; }
