@import 'variables';
@import 'mixins';

@fontface{
	src: url('../fonts/Aller_Rg.ttf');
	font-weight: 400;
	font-family: Aller, sans-serif;
}

body{
	background: $off-white
	;
	font-family: Aller;
	overflow: hidden;
}

.product-details{
    
    width: 300px;
    height: 620px;
    top: 40px;
    left: 75px;
    padding: 15px 0;
    background: #FFF;
    position: relative;
    z-index: 800;

    @include box-style;

    h1, h2, h3, h4, h5{
        margin: 0;
        padding: 0;
        font-size: 1em;
        font-weight: 200;
    }

    h2{
        padding: 0 0 15px;
        text-align: center;
        color: #333;
        overflow: hidden;

        span{ 
        	margin: 0;
        	display: block;
        }

        .title{ font-size: 1.8em; }
        .category{ color: #666; }
    }

    .price-block{
        margin: 0 0;
        padding: 10px 0;
        text-align: center;
        background: #FFF;

        span{
            font-size: 2em;
            color: $dark-green;
        }
    }

    .product-content{

	    p{
	        margin: 0;
	        padding: 10px 15px;
	        font-size: 0.8em;
	        color: #333;
	        font-family: Arial, sans-serif;
	    }
	}

	.product-options{

		.giftRecipient-details, .customizeable-options{

	        margin: 0 0 20px;
	        padding: 0 0;
	        clear: both;

		    h4{
		        margin: 10px 0 10px;
		        padding: 5px 15px 5px 40px;
		        color: $dark-green;
		        border-bottom: 1px dotted #EEE; 
		    }

	        .options{
	        	margin-bottom: 10px;
	        	background: url(../images/options.png) 13px 3px no-repeat;
	        	background-size: 20px;
	        }
	        .gift{
	        	background: url(../images/gift.png) 12px 0 no-repeat;
	        	background-size: 20px;
	        }

			label{
		        margin: 0 15px 5px;
		        color: #333;
		        font-family: Arial, sans-serif;
		        font-size: 0.8em;
		        display: block;
		    }

		    select{
		    	width: 125px;
		    	padding: 5px;
				background: #FFF;
				border: 1px solid #EEE;
				border-radius: 0;
				-webkit-appearance: none;
				color: #666;
				font-family: Arial, sans-serif;
				font-size: 0.8em;

				&:hover, &:focus{
					outline: none;
					background: $inputBackground;
					border: $thinInputBorder-hover;
				}
		    }

		    .cd_textbox, .cd_textarea,
		    .gift_textbox, .gift_textarea{

		    	margin: 0 15px 5px;
		        @include input-base;

		        &:hover, &:focus{
		        	outline: none;
		        	background: $inputBackground;
		            border: $thinInputBorder-hover;
		        }
		    }

		    .row{ margin: 5px 0; }

		    .left{
		    	width: 100px;
		    	margin: 5px 5px 0 15px;
		    	padding: 0;
		    	line-height: 22px;
		    	clear: both;
		        float: left;

		        &:aftxer{ content: ": "; }
		    }
	    }
	}
}