@import 'variables';
@import 'mixins';

@fontface{
	src: url('../fonts/Aller_Rg.ttf');
	font-weight: 400;
	font-family: Aller, sans-serif;
}

body{
	background: $off-white;
	background-attachment: fixed;
	background-size: 100%;
	background-position: 0 0;
	font-family: Aller, sans-serif;
}

/** ICONS **/
.popular{ background: url('../images/popular.png') 12px no-repeat; }
.designs{ background: url('../images/designs.png') 12px no-repeat; background-size: 20px; }
.gallery{ background: url('../images/gallery.png') 12px 6px no-repeat; background-size: 20px; }
.contact{ background: url('../images/contact.png') 12px no-repeat; background-size: 20px; }
.telephone{ background: url('../images/telephone.png') 12px no-repeat; background-size: 20px; }
.testimonials{ background: url('../images/testimonials.png') 12px no-repeat; background-size: 20px; }

#main-content{
	width: 895px;
	margin: 0 auto;
	display: block; 
	overflow: hidden;
}

#main-header{
	.title{

		width: 100%;
		margin: 0 0 0 0;
		padding: 25px 0 5px;
		position: relative;

		a{
			text-decoration: none;
			
			img{
				margin: 0 auto; 
				opacity: 0.8; 
				display: block;
			}
			span{ display: none; }

			&:hover{
				img{ opacity: 1; }
			}
		}
	}
}
#main-header.not-home{ display: none; }

#mainmenu{
	width: 895px;
	margin: 0 auto;
	left: 0;
	position: relative;
	background: #333;

	.menu{
		height: 35px;
		margin: 5px 0 20px;
		padding: 0 0;
		list-style: none;

		li{
			margin: 0 0;
			padding: 0 0;
			float: left;

			a{
				margin: 0 0;
				padding: 10px 24px;
				background: #333; 
				display: block;
				color: #FFF;
				font-size: 0.8em;
				text-decoration: none;
				font-weight: normal;

				&:hover{ background: #666; }
			}
		}
		.shopping-basket{
			position: absolute;
			right: 0;
		}
	}
}
#mainmenu.not-home{ display: none; }

.left-items{

	width: 300px;
	margin: 0 20px 0 0;
	padding: 0;
	position: relative;
	float: left;
	@include box-style;

	.left-page-header{
		h2{ @include all-headings; }
	}

	.left-page-article{
		p{
			@include default-paragraphs;
			&:last-child{ padding-bottom: 20px; }
		}
	}
}

.left-column{ 
	margin: 0 25px 0 0;
	.widget{ width: 300px; }
}
.right-column{
	margin: 0 0 0 0;
	.widget{ width: 200px; }
}

.columns{

	position: relative;
	float: left;

	.widgets{
		margin: 0;
		padding: 0;
		list-style: none;

		.popular-products{

			.content{
				background-size: 100%;
				background-position: 0 0;

				h3{
					font-size: 1em;
					a{ 
						font-size: 1.8em;
						text-decoration: none; 
						color: #333;	
					}
					.category{
						display: block;
						font-size: 1em;
						color: #666;
						&:hover{ text-decoration: underline; }
					}
				}

				.price-block{ @include price-style; }
				p{ @include default-paragraphs; }
			}
		}

		.widget{
			margin: 0 0 20px;
			padding: 0 0 15px;

			@include box-style;

			h3{ @include all-headings; }
			.textwidget { @include default-paragraphs; }
			.widget-title{ @include widget-titles; }
		}

		.gallery-list{

			height: 250px;

			.gallery-area{
				width: 100%;
				height: 225px;
				padding: 0 0;
				margin: 0 0;
				list-style: none;
				overflow: hidden;

				li{
					width: 300px;
					height: 306px;
					margin: 0 0;
					padding: 0 0;
					display: block;
					text-align: center;
					position: absolute;
					z-index: 800;
					visibility: hidden;

					span{ 
						display: inline-block;
						@include all-headings; 
					}
				}
				.visible{ visibility: visible; }
			}
			.widget-title{ padding-left: 40px; }
		}

		.design-list{

			.widget-title{ padding-left: 40px; }

			.category-list{
				margin: 20px 0 0;
				padding: 0 0;
				list-style: none;

				.cat-item{
					margin: 0 15px 5px;
					padding: 0 0;
					background: #FFF;
					border-right: 8px solid $light-green;

					a{
						margin: 0 0;
						padding: 5px 10px;
						color: #333;
						font-size: 0.8em;
						text-decoration: none;
						display: block;
					}

					&:hover{ border-color: $dark-green;
						a{
							background: $light-green;
							text-shadow: none;
						}
					}
				}
			}
		}

		.contact-details{
			p{ 
				@include default-paragraphs; 
				span{ display: block;}
				a{ 
					padding: 0 2px;
					color: #333;
					text-decoration: none;
					border-bottom: 1px dotted #EEE;

					&:hover{ border-color: #000; }
				}
			}
		}
		.telephone-details{
			p{
				@include default-paragraphs;
				span{ 
					margin: 0 0 5px;
					font-size: 1.5em;
					text-align: center;
					display: block;
				}
			}
			.numbers{ padding-bottom: 0px; }
			.days{
				@include default-paragraphs;
				padding: 0 0 5px;
				text-align: center;
				font-size: 0.6em;
			}
		}
		.testimonial-area{
			-webkit-transition: all linear 0.2s; 

			#testimonial-slideshow{ height: auto; }
			.widget-title{ padding-left: 40px; }
			.slides{
				li{ height: auto; }
				p{ @include default-paragraphs; }
				span{
					width: 200px;
					padding: 0 15px 0 0;
					float: right;
					display: block;
					text-align: right;
					font-size: 0.8em;
					color: $dark-green;

					&:before{ 
						margin: 0 5px 0 0;
						content: " -- "; 
						letter-spacing: -2px; 
					}
				}
			}
		}
	}
}

.category-view{ height: 240px; }
.single-view{ height: 620px; }

.product-details{
    
    width: 300px;
    top: 20px;
    left: 75px;
    padding: 15px 0;
    background: #FFF;
    position: relative;
    z-index: 800;

    @include box-style;

    h1, h2, h3, h4, h5{
        margin: 0;
        padding: 0;
        font-size: 1em;
        font-weight: 200;
    }

    h2{
        padding: 0 0 15px;
        text-align: center;
        color: #333;
        overflow: hidden;

        span{ 
        	margin: 0;
        	display: block;
        }

        .title{ font-size: 1.8em; }
        .category{ color: #666; }
    }

    .price-block{
        margin: 0 0;
        padding: 10px 0;
        text-align: center;
        background: #FFF;

        span{
            font-size: 2em;
            color: $dark-green;
        }
    }

    .product-content{

	    p{
	        margin: 0;
	        padding: 10px 15px 20px;
	        font-size: 0.8em;
	        color: #333;
	        font-family: Arial, sans-serif;
	    }
	}

	.product-options{

		.giftRecipient-details, .customizeable-options{

	        margin: 0 0 20px;
	        padding: 0 0;
	        clear: both;

		    h4{
		        margin: 10px 0 10px;
		        padding: 5px 15px 5px 40px;
		        color: $dark-green;
		        border-bottom: 1px dotted #EEE; 
		    }

	        .options{
	        	margin-bottom: 10px;
	        	background: url(../images/options.png) 13px 3px no-repeat;
	        	background-size: 20px;
	        }
	        .gift{
	        	background: url(../images/gift.png) 12px 0 no-repeat;
	        	background-size: 20px;
	        }

			label{
		        margin: 0 15px 5px;
		        color: #333;
		        font-family: Arial, sans-serif;
		        font-size: 0.8em;
		        display: block;
		    }

		    select{
		    	width: 125px;
		    	padding: 5px;
				background: #FFF;
				border: 1px solid #EEE;
				border-radius: 0;
				-webkit-appearance: none;
				color: #666;
				font-family: Arial, sans-serif;
				font-size: 0.8em;

				&:hover, &:focus{
					outline: none;
					background: $inputBackground;
					border: $thinInputBorder-hover;
				}
		    }

		    .cd_textbox, .cd_textarea,
		    .gift_textbox, .gift_textarea{

		    	margin: 0 15px 5px;
		        @include input-base;

		        &:hover, &:focus{
		        	outline: none;
		        	background: $inputBackground;
		            border: $thinInputBorder-hover;
		        }
		    }

		    .row{ margin: 5px 0; }

		    .left{
		    	width: 100px;
		    	margin: 5px 5px 0 15px;
		    	padding: 0;
		    	line-height: 22px;
		    	clear: both;
		        float: left;

		        &:after{ content: ": "; }
		    }
	    }
	}

	.product-footer{

		a{
			width: 100%;
			padding: 10px 0 5px;
			display: block;
			text-decoration: none;
			text-align: center;
			color: $dark-green;
			background: $light-green;
			position: relative;
			z-index: 0;

			span{
				font-size: 1.2em;
				color: #333;
				text-shadow: 0 1px 0 $light-green;
				position: relative;
				z-index: 10;
			}
		}

	}
}

#shopping-footer{
	width: 100%;
	height: 50px;
	bottom: 0;
	left: 0;
	background: $light-green;
	position: fixed;
	z-index: 999;
}
#shopping-footer.home{ display: none; }