@import 'variables';
@import 'mixins';

@fontface{
	src: url('../fonts/Aller_Rg.ttf');
	font-weight: 400;
	font-family: Aller, sans-serif;
}

body{
	background: $off-white;
	font-family: Aller;
}

.product-details{
    
    width: 300px;
    top: 80px;
    left: 75px;
    padding: 15px 0;
    background: #FFF;
    position: relative;

    @include box-style;

    h1, h2, h3, h4, h5{
        margin: 0;
        padding: 0;
        font-size: 1em;
        font-weight: 200;
    }

    h2{
        padding: 0 0 15px;
        text-align: center;
        color: #333;
        overflow: hidden;
        border-bottom: 1px solid $light-green;

        span{ 
        	margin: 0;
        	display: block;
        }

        .title{ font-size: 1.8em; }
        .category{ color: #666; }
    }

    .price-block{
        margin: 0 0;
        padding: 10px 0;
        text-align: center;
        background: $light-green;
        border-bottom: 1px solid $light-green;

        span{
            font-size: 2em;
            font-weight: bold;
            color: $dark-green;
            text-shadow: 0 1px 2px #FFF;
        }
    }

    p{
        margin: 0;
        padding: 10px 15px;
        font-size: 0.8em;
        color: #888;
        font-family: Arial, sans-serif;
    }
}