@import "variables";

/** Colour & Size of boxes and borders **/
@mixin box-style{
	border: $thickBorder;
	background: #FFF;
}

@mixin input-base{
    width: 258px;
    padding: 5px;
    font-size: 0.8em;
    font-weight: 200;
    color: #333;
	border: $thinInputBorder-normal;
}

@mixin all-headings{
	margin: 5px 0 0;
	padding: 15px 0 10px;
	font-size: 1.8em;
	font-weight: normal;
	text-align: center;
	color: #333;
}

@mixin default-paragraphs{
	margin: 0 0;
	padding: 10px 15px;
	line-height: 1.5em;
	font-size: 0.8em;
	font-family: Arial, sans-serif;
	color: #333;
}

@mixin price-style{
    margin: 0 0;
    padding: 10px 0;
    text-align: center;
    background: #FFF;

    span{
        font-size: 2em;
        color: $dark-green;
    }
}

@mixin widget-titles{
	margin: 0 0;
	padding: 10px 0 10px 35px; 
	font-size: 1em;
	text-align: left;
	color: $dark-green;
	border-bottom: 1px dotted $light-green;
}